{
  "openapi": "3.0.3",
  "info": {
    "title": "Servicio web - Periódicos v1.0",
    "description": "Servicio web para consumir datos de periódicos. Sitio web [https://api.periodicos.rmgss.net](api.periodicos.rmgss.net). Servicio desarrollador por Waynalabs 2023 - [Código fuente](https://github.com/waynalabs/periodicos-ws).",
    "contact": {
      "email": "rgarcia@laotra.red"
    },
    "license": {
      "name": "Licencia AGPL v3",
      "url": "https://www.gnu.org/licenses/agpl-3.0.en.html"
    },
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.periodicos.rmgss.net/api/"
    }
  ],
  "tags": [
    {
      "name": "newspapers",
      "description": "Información general de periódicos."
    },
    {
      "name": "newspaper",
      "description": "Información mas detallada de periódico en específico."
    },
    {
      "name": "articles",
      "description": "Listado de artículos de noticias."
    },
    {
      "name": "article",
      "description": "Datos de artículo en específico."
    },
    {
      "name": "author search",
      "description": "Búsqueda de autores a partir de un nombre dado."
    },
    {
      "name": "category",
      "description": "Artículos correspondientes a una categoría dada."
    },
    {
      "name": "articles count by day",
      "description": "Conteo de artículos por cada día para todos los periódicos."
    },
    {
      "name": "top categories by month",
      "description": "Las tres categorías con más artículos por cada mes por cada periódico."
    },
    {
      "name": "top authors by month",
      "description": "Los tres autores que escribieron la mayor cantidad de artículos cada mes por periódico."
    },
    {
      "name": "full text search",
      "description": "Busca el texto dado en todos los artículos"
    },
    {
      "name": "named entity search",
      "description": "Búsqueda rápida de entidades en artículos."
    }
  ],
  "paths": {
    "/newspapers": {
      "get": {
        "tags": [
          "newspapers"
        ],
        "summary": "Listado de periódicos",
        "description": "Listar periódicos disponibles",
        "operationId": "newspapers",
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Newspapers"
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/newspaper": {
      "get": {
        "tags": [
          "newspaper"
        ],
        "summary": "Detalles de periódico específico.",
        "description": "Devuelve detalles generales de un periódico específico.",
        "operationId": "newspaper",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "Nombre del periódico",
            "required": true,
            "explode": false,
            "schema": {
              "type": "string",
              "example": "El Deber"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Para devolver detalles **sólo a partir** de esta fecha. Formato `AAAA/MM/DD`",
            "required": false,
            "explode": false,
            "schema": {
              "type": "string",
              "example": "2017-01-01"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "Para devolver detalles **sólo hasta** esta fecha. Formato `AAAA/MM/DD`",
            "required": false,
            "explode": false,
            "schema": {
              "type": "string",
              "example": "2020-01-01"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Detalles de periódico",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Newspaper"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid status value"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    },
    "/articles": {
      "get": {
        "tags": [
          "articles"
        ],
        "summary": "Datos generales de artículos de noticias.",
        "description": "Artículos para un periódico y rango de fechas dadas.",
        "operationId": "articles",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "Nombre del periódico",
            "required": true,
            "explode": false,
            "schema": {
              "type": "string",
              "example": "El Deber"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Para devolver detalles **sólo a partir** de esta fecha. Formato `AAAA/MM/DD`",
            "required": false,
            "explode": false,
            "schema": {
              "type": "string",
              "example": "2017-01-01"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "Para devolver detalles **sólo hasta** esta fecha. Formato `AAAA/MM/DD`",
            "required": false,
            "explode": false,
            "schema": {
              "type": "string",
              "example": "2020-01-01"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limita el número de resultados",
            "required": false,
            "explode": false,
            "schema": {
              "type": "integer",
              "example": 1000
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Desplazamiento, para devolver resultados a partir de este valor.",
            "required": false,
            "schema": {
              "type": "integer",
              "example": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Articles"
                }
              }
            }
          },
          "400": {
            "description": "Invalid ID supplied"
          },
          "404": {
            "description": "Pet not found"
          }
        }
      }
    },
    "/article": {
      "get": {
        "tags": [
          "article"
        ],
        "summary": "Retorna detalles de un artículo específico.",
        "description": "Detalles de un artículo específico.",
        "operationId": "article",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "Identificador del artículo en específico.",
            "required": true,
            "schema": {
              "type": "integer",
              "example": 72803
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Article"
                }
              }
            }
          },
          "404": {
            "description": "No encontrado"
          }
        }
      }
    },
    "/authorSearch": {
      "get": {
        "tags": [
          "author search"
        ],
        "summary": "Búsqueda de autor por nombre.",
        "description": "Se busca un autor en toda la base de datos para devolver posibles coincidencias.",
        "operationId": "authorSearch",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "Nombre del autor buscado",
            "required": true,
            "schema": {
              "type": "string",
              "example": "juan"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limita el número de resultados.",
            "required": false,
            "explode": false,
            "schema": {
              "type": "integer",
              "example": 10
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Desplazamiento, para devolver resultados a partir de este valor.",
            "required": false,
            "schema": {
              "type": "integer",
              "example": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Autores econtrados",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorSearchResponse"
                }
              }
            }
          },
          "405": {
            "description": "Invalid input"
          }
        }
      }
    },
    "/articlesCountByDay": {
      "get": {
        "tags": [
          "articles count by day"
        ],
        "summary": "Retorna el conteo de artículos por cada día de todos los periódicos.",
        "description": "Dada una fecha de inicio y finalización, retorna el conteo de los artículos publicados por periódico y día.",
        "operationId": "articlesCountByDay",
        "parameters": [
          {
            "name": "startDate",
            "in": "query",
            "required": true,
            "explode": false,
            "schema": {
              "type": "string",
              "example": "2019-01-01"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "Para devolver resultados **hasta** esta fecha. Formato `AAAA/MM/DD`",
            "required": true,
            "explode": false,
            "schema": {
              "type": "string",
              "example": "2020-01-01"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Conteo de artículos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArticlesCountByDayResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input"
          }
        }
      }
    },
    "/topCategoriesByMonth": {
      "get": {
        "tags": [
          "top categories by month"
        ],
        "summary": "Las tres categorías con más aartículos por cada mes de in periódico particular.",
        "description": "Dada una fecha de inicio y finalizacíon, retorna un conteo con las tres categorías con más artículos por cada mes de un periódico dado.",
        "operationId": "topCategoriesByMonth",
        "parameters": [
          {
            "name": "newspaper",
            "in": "query",
            "description": "Nombre del periódico",
            "required": false,
            "explode": false,
            "schema": {
              "type": "string",
              "example": "El Deber"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "required": true,
            "explode": false,
            "schema": {
              "type": "string",
              "example": "2019-01-01"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "Para devolver resultados **hasta** esta fecha. Formato `AAAA/MM/DD`",
            "required": true,
            "explode": false,
            "schema": {
              "type": "string",
              "example": "2020-01-01"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Conteno de categorías por mes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TopCategoriesByMonthResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input"
          }
        }
      }
    },
    "/topAuthorsByMonth": {
      "get": {
        "tags": [
          "top authors by month"
        ],
        "summary": "Los tres autores con más aartículos por cada mes de in periódico particular.",
        "description": "Dada una fecha de inicio y finalizacíon, retorna un conteo con los tres autores con más artículos por cada mes de un periódico dado.",
        "operationId": "topAuthorsByMonth",
        "parameters": [
          {
            "name": "newspaper",
            "in": "query",
            "description": "Nombre del periódico",
            "required": false,
            "explode": false,
            "schema": {
              "type": "string",
              "example": "El Deber"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "required": true,
            "explode": false,
            "schema": {
              "type": "string",
              "example": "2019-01-01"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "Para devolver resultados **hasta** esta fecha. Formato `AAAA/MM/DD`",
            "required": true,
            "explode": false,
            "schema": {
              "type": "string",
              "example": "2020-01-01"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Conteno de autores por mes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TopAuthorsByMonthResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input"
          }
        }
      }
    },
    "/fullTextSearch": {
      "get": {
        "tags": [
          "full text search"
        ],
        "summary": "Búsqueda de texto en todos los artículos.",
        "description": "Realiza una búsqueda rápida del texto solicitado en todos los artículos. Los artículos encontrados se ordenan de mayor a menor por el mejor puntaje de aciertos.",
        "operationId": "fullTextSearch",
        "parameters": [
          {
            "name": "searchText",
            "in": "query",
            "description": "Texto a buscar en todos los artículos, entre 3 a 750 caracteres.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "Zarate Willca"
            }
          },
          {
            "name": "rate",
            "in": "query",
            "description": "Puntaje de acierto mínimo requerido, por defecto es 9. Este número entre 1 y 100 sirve para filtrar artículos que tengan al menos ese porcentaje de aciertos en la búsqueda del texto dado.",
            "required": false,
            "schema": {
              "type": "integer",
              "example": 9
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limita el número de resultados.",
            "required": false,
            "explode": false,
            "schema": {
              "type": "integer",
              "example": 1000
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Desplazamiento, para devolver resultados a partir de este valor.",
            "required": false,
            "schema": {
              "type": "integer",
              "example": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Entidades o nombres encontrados",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FullTextSearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input."
          }
        }
      }
    },
    "/namedEntitySearch": {
      "get": {
        "tags": [
          "named entity search"
        ],
        "summary": "Búsqueda de nombre o entidad en artículos.",
        "description": "Ayuda a buscar un nombre de persona o entidad en todos los artículos.",
        "operationId": "namedEntitySearch",
        "parameters": [
          {
            "name": "searchText",
            "in": "query",
            "description": "Texto a buscar en todos los artículos.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "morales"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limita el número de resultados.",
            "required": false,
            "explode": false,
            "schema": {
              "type": "integer",
              "example": 1000
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Desplazamiento, para devolver resultados a partir de este valor.",
            "required": false,
            "schema": {
              "type": "integer",
              "example": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Entidades o nombres encontrados",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntitySearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input."
          }
        }
      }
    },
    "/category": {
      "get": {
        "tags": [
          "category"
        ],
        "summary": "Obtención de artículos de una categoría dada.",
        "description": "Obtiene una lista de artículos de una categoría dada.",
        "operationId": "category",
        "parameters": [
          {
            "name": "category",
            "in": "query",
            "description": "Categoría a buscar.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "reservas"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limita el número de resultados.",
            "required": false,
            "explode": false,
            "schema": {
              "type": "integer",
              "example": 1000
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Desplazamiento, para devolver resultados a partir de este valor.",
            "required": false,
            "schema": {
              "type": "integer",
              "example": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Artículos encontradis",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CategoryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input."
          },
          "404": {
            "description": "Not found."
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Newspapers": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "format": "int64",
            "example": 3
          },
          "results": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "example": "El Deber"
                },
                "min_date": {
                  "type": "string",
                  "example": "2015-01-01",
                  "description": "Formato `AAAA/MM/DD`"
                },
                "max_date": {
                  "type": "string",
                  "example": "2023-04-18",
                  "description": "Formato `AAAA/MM/DD`"
                }
              }
            }
          }
        }
      },
      "Newspaper": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64",
            "example": 1
          },
          "name": {
            "type": "string",
            "example": "El Deber"
          },
          "articles_count": {
            "type": "integer",
            "format": "int64",
            "example": 17351
          },
          "authors_count": {
            "type": "integer",
            "format": "int64",
            "example": 55
          },
          "authors": {
            "type": "array",
            "items": {
              "type": "string",
              "example": [
                "bbc mundo",
                "diego seas",
                "leyla mendieta"
              ]
            }
          },
          "categories_count": {
            "type": "integer",
            "example": 18973
          },
          "categories": {
            "type": "array",
            "items": {
              "type": "string",
              "example": [
                "acero",
                "minerales",
                "minería",
                "medio ambiente"
              ]
            }
          }
        }
      },
      "Articles": {
        "type": "object",
        "properties": {
          "total": {
            "type": "integer",
            "format": "int64",
            "example": 7175
          },
          "limit": {
            "type": "integer",
            "example": 1000
          },
          "offset": {
            "type": "integer",
            "example": 0
          },
          "articles": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "example": 31638
                },
                "title": {
                  "type": "string",
                  "example": "Casa Blanca niega que Trump haya sido informado de recompensas rusas a los talibanes"
                },
                "date_published": {
                  "type": "string",
                  "example": "2020-06-27",
                  "description": "Formato `AAAA/MM/DD`"
                }
              }
            }
          }
        }
      },
      "Article": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "example": 72803
          },
          "newspaper": {
            "type": "string",
            "example": "La Razón"
          },
          "title": {
            "type": "string",
            "example": "Las esponjas también ‘estornudan’ para eliminar residuos"
          },
          "url": {
            "type": "string",
            "example": "https://www.la-razon.com/la-revista/2022/08/11/las-esponjas-tambien-estornudan-para-eliminar-residuos/"
          },
          "content_length": {
            "type": "integer",
            "example": 2538
          },
          "description": {
            "type": "string",
            "example": "El trabajo registró el comportamiento de ‘estornudo’ en dos especies de esponjas, la esponja tubular caribeña Aplysina archeri y otra especie indopacífica del género Chelonaplysilla."
          },
          "date_published": {
            "type": "string",
            "example": "2022-08-11T00:00:00.000Z",
            "description": "Formato `AAAA/MM/DD`"
          },
          "categories": {
            "type": "array",
            "items": {
              "type": "string",
              "example": [
                "eliminan",
                "esponja",
                "estornudo"
              ]
            }
          },
          "authors": {
            "type": "array",
            "items": {
              "type": "string",
              "example": [
                "juan valencia"
              ]
            }
          }
        }
      },
      "AuthorSearchResponse": {
        "type": "object",
        "properties": {
          "total": {
            "type": "integer",
            "description": "Número de registros encontrados",
            "example": 26
          },
          "limit": {
            "type": "integer",
            "example": 1000,
            "description": "Límite de registros devueltos"
          },
          "offset": {
            "type": "integer",
            "example": 0,
            "description": "Desplazamiento seleccionado."
          },
          "authors": {
            "type": "array",
            "items": {
              "type": "string",
              "example": [
                "juan mejia",
                "juan mejía y williams farfán",
                "juan orgaz espinoza"
              ]
            }
          }
        }
      },
      "CategoryResponse": {
        "type": "object",
        "properties": {
          "total": {
            "type": "integer",
            "description": "Número de registros encontrados",
            "example": 1000
          },
          "limit": {
            "type": "integer",
            "example": 1000,
            "description": "Límite de registros devueltos"
          },
          "offset": {
            "type": "integer",
            "example": 0,
            "description": "Desplazamiento seleccionado."
          },
          "category": {
            "type": "string",
            "example": "incendios",
            "description": "Categoría encontrada"
          },
          "articles": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "description": "identificador de artículo",
                  "example": 48765
                },
                "title": {
                  "type": "string",
                  "description": "Título del artículo",
                  "example": "Presidente de la ABC reaparece y exige disculpas a Héctor Arce; este dice que buscan cerrar el caso"
                },
                "url": {
                  "type": "string",
                  "description": "Enlace al artículo",
                  "example": "https://eldeber.com.bo/pais/presidente-de-la-abc-reaparece-y-exige-disculpas-a-hector-arce-este-dice-que-buscan-cerrar-el-caso_320429"
                },
                "date_published": {
                  "type": "string",
                  "description": "Fecha de publicación del artículo. Formato `YYYY-MM-DD`",
                  "example": "2023-04-04"
                }
              }
            }
          }
        }
      },
      "TopCategoriesByMonthResponse": {
        "type": "object",
        "properties": {
          "start_date": {
            "type": "string",
            "description": "Fecha de inicio de la consulta. Formato `YYYY-MM-DD`",
            "example": "2020-01-01"
          },
          "end_date": {
            "type": "string",
            "description": "Fecha de finalización de la consulta. Formato `YYYY-MM-DD`",
            "example": "2021-01-01"
          },
          "results": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "newspaper": {
                  "type": "string",
                  "description": "Nombre del periódico",
                  "example": "El Deber"
                },
                "year_month": {
                  "type": "string",
                  "description": "Año y Mes del resultado actual",
                  "example": "2021-09"
                },
                "category_name": {
                  "type": "string",
                  "description": "Nombre de la categoría",
                  "example": "nacional"
                },
                "category_count": {
                  "type": "number",
                  "description": "Número de artículos que pertenecen a la categoría en el mes y año.",
                  "example": 272
                }
              }
            }
          }
        }
      },
      "TopAuthorsByMonthResponse": {
        "type": "object",
        "properties": {
          "start_date": {
            "type": "string",
            "description": "Fecha de inicio de la consulta. Formato `YYYY-MM-DD`",
            "example": "2020-01-01"
          },
          "end_date": {
            "type": "string",
            "description": "Fecha de finalización de la consulta. Formato `YYYY-MM-DD`",
            "example": "2021-01-01"
          },
          "results": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "newspaper": {
                  "type": "string",
                  "description": "Nombre del periódico",
                  "example": "El Deber"
                },
                "year_month": {
                  "type": "string",
                  "description": "Año y Mes del resultado actual",
                  "example": "2021-09"
                },
                "category_name": {
                  "type": "string",
                  "description": "Nombre de la categoría",
                  "example": "nacional"
                },
                "category_count": {
                  "type": "number",
                  "description": "Número de artículos que pertenecen a la categoría en el mes y año.",
                  "example": 272
                }
              }
            }
          }
        }
      },
      "ArticlesCountByDayResponse": {
        "type": "object",
        "properties": {
          "start_date": {
            "type": "string",
            "description": "Fecha de inicio de la consulta. Formato `YYYY-MM-DD`",
            "example": "2020-01-01"
          },
          "end_date": {
            "type": "string",
            "description": "Fecha de finalización de la consulta. Formato `YYYY-MM-DD`",
            "example": "2021-01-01"
          },
          "results": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "newspaper": {
                  "type": "string",
                  "description": "Nombre del periódico",
                  "example": "El Deber"
                },
                "date_published": {
                  "type": "string",
                  "description": "Día en formato `YYYY-MM-DD`",
                  "example": "2021-09-09T00:00:00.000Z"
                },
                "count": {
                  "type": "integer",
                  "description": "Cantidad de artículos publicados en ese día",
                  "example": 7
                }
              }
            }
          }
        }
      },
      "FullTextSearchResponse": {
        "type": "object",
        "properties": {
          "min_rate": {
            "type": "integer",
            "description": "Puntaje de acierto mínimo requerido, por defecto es 9. Este número entre 1 y 100 sirve para filtrar artículos que tengan al menos ese porcentaje de aciertos en la búsqueda del texto dado.",
            "example": 9
          },
          "total": {
            "type": "integer",
            "description": "Número de registros encontrados",
            "example": 26
          },
          "limit": {
            "type": "integer",
            "example": 100,
            "description": "Límite de registros devueltos"
          },
          "offset": {
            "type": "integer",
            "example": 0,
            "description": "Desplazamiento seleccionado."
          },
          "articles": {
            "type": "array",
            "description": "Artículos donde se encontró el texto solicitado.",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "example": 21427
                },
                "title": {
                  "type": "string",
                  "example": "Quién fue el 'Temible' Zarate Willca y por qué Sucre rechaza que figure en el billete de Bs 50\""
                },
                "url": {
                  "type": "string",
                  "example": "https://eldeber.com.bo/bolivia/quien-fue-el-temible-zarate-willca-y-por-que-sucre-rechaza-que-figure-en-el-billete-de-bs-50_16835"
                },
                "date_published": {
                  "type": "string",
                  "example": "2018-10-19",
                  "description": "Formato `AAAA/MM/DD`"
                },
                "rate": {
                  "type": "number",
                  "example": 0.26381147
                }
              }
            }
          }
        }
      },
      "EntitySearchResponse": {
        "type": "object",
        "properties": {
          "total": {
            "type": "integer",
            "description": "Número de registros encontrados",
            "example": 26
          },
          "limit": {
            "type": "integer",
            "example": 10,
            "description": "Límite de registros devueltos"
          },
          "offset": {
            "type": "integer",
            "example": 0,
            "description": "Desplazamiento seleccionado."
          },
          "articles": {
            "type": "array",
            "description": "Artículos donde se encontró el nombre o entidad buscada.",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "example": 32188
                },
                "title": {
                  "type": "string",
                  "example": "La CIDH aclara que no dio like a un tuit de Evo Morales"
                },
                "url": {
                  "type": "string",
                  "example": "https://eldeber.com.bo/pais/la-cidh-aclara-que-no-dio-like-a-un-tuit-de-evo-morales_194118"
                },
                "date_published": {
                  "type": "string",
                  "example": "2020-07-30",
                  "description": "Formato `AAAA/MM/DD`"
                },
                "ocurrences": {
                  "type": "string",
                  "description": "Número de veces que este nombre/entidad aparece en el campo específico del artículo.",
                  "example": 1
                },
                "entity_type": {
                  "type": "string",
                  "description": "Tipo de nombre/entidad enontrada. Donde:\n  - PER: Persona\n  - ORG: Organización\n  - MISC: Misceláneo",
                  "example": "PER"
                },
                "article_field": {
                  "type": "string",
                  "description": "El nombre del campo en el artículo de noticias donde se encontró el nombre/entidad.",
                  "enum": [
                    "content",
                    "title",
                    "description"
                  ]
                },
                "entity": {
                  "type": "string",
                  "example": "Morales"
                }
              }
            }
          }
        }
      }
    }
  }
}